[Desktop Entry]
Type=Application
Exec=/usr/bin/hexchat
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Hexchat
Name=Hexchat
Comment[en_US]=
Comment=
